@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-beVietNam;
  }
}

@layer components {
  .text-overflow {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
  }

  .gradient-blue1 {
    @apply bg-gradient-to-r from-[#44009B] to-[#2370CA];
  }

  .gradient-blue2 {
    @apply bg-gradient-to-r from-[#2B6ED1] to-[#062550];
  }

  .gradient-blue3 {
    @apply bg-gradient-to-r from-[#2E335A] to-[#1C1B33];
  }

  .gradient-light-blue1 {
    @apply bg-gradient-to-r from-[#176AB1] to-[#CBD8F1];
  }

  .gradient-light-blue2 {
    @apply bg-gradient-to-r from-[#B0C5E5] to-[#FFFFFF];
  }
}

/* Hidden scroll */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
